<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whdx.base">

    <application>
        <provider
            android:name=".app.provider.InitProvider"
            android:authorities="${applicationId}.InitProvider"
            android:exported="false" />
    </application>
</manifest>